:root {
    --purple: #5f1f79;
    --purple-light: #d8a1ff;
    --purple-shadow: #baa4c9;
    --gray: #64566e24;
}

/* nav */
.logo {
    width: 50px;
}

.nav-color {
    background: var(--gray)!important;
}
.nav-container {
    flex-grow: 0 !important;  
}

.nav-container ul {
    gap: 20px;
}

.btn-nav {
    border-radius: 50px;
    width: 100px;
}

.btn-color {
    background: rgb(150, 38, 162);
    background: linear-gradient(90deg, rgba(150, 38, 162, 1) 0%, rgba(161, 24, 148, 1) 43%, rgba(255, 106, 0, 1) 100%);
    border: none;
    color: white;
    font-weight: bold;
}

.btn-color a {
    color: white;
    font-weight: bold;
}

.btn-color:hover {
    background: var(--gray);
    color: var(--purple);
}


/* Acerca de nosotros */
.btn-acordeon {
    font-weight: bold;
}
.accordion {
    --bs-accordion-btn-focus-box-shadow: 0;
}
.accordion-button:not(.collapsed) {
    background-color: var(--gray);
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
    color: black;
}

/* Fin acerca de nosotros */

/*Estilo de la sección Equipo*/
.container {
    display: flex;
    width: 50vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vw;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/* FIN SECCION EQUIPO*/

/* Contacto */

.form-contact {
    width: 26rem;
    padding: 0 20px;
}

.form-check-input:checked {
    background-color: var(--purple);
    border-color: var(--purple-light);
}

/* Fin seccion contacto */

/* MAIN */
/* Hero */
.hero {
    background-color: var(--gray);
    height: auto;
}

.img-planes {
    padding: 20px;
}
.img-planes img {
    width: 300px;
    border-radius: 29% 71% 28% 72%/66% 21% 79% 34%;
    border: 10px solid white;
}

@media screen and (max-width: 600px) {

    .nav-container ul {
        gap: 10px;
    }

    .container {
        width: 70%;
    }

    .form-contact {
        width: 75% !important;
    }
}