h1 {
  margin-top: 100px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos en dispositivos grandes */
  gap: 20px; /* Espacio entre las tarjetas */
}

.card {
  width: auto; /* Calcula el ancho de cada tarjeta para mostrar 3 en una fila */
  max-width: 300px; /* Ancho máximo de cada tarjeta */
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card p {
  margin-bottom: 10px; /* Espacio entre el texto y el botón */
  flex-grow: 1; /* Hace que el párrafo ocupe todo el espacio vertical disponible */
}

.card img {
  width: 250px;
  height: 166px;
  border-radius: 10px;
}

.card h3 {
  margin-top: 10px; /* Espacio entre el texto y la imagen */
}

.card p {
  margin-bottom: 10px; /* Espacio entre el texto y el botón */
}

.card button {
  width: 100%;
  padding: 8px;
}

@media (max-width: 768px) {
  .card {
      width: calc(50% - 20px); /* Calcula el ancho de cada tarjeta para mostrar 2 en una fila en pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .card {
      width: calc(100% - 20px); /* Muestra las tarjetas en una sola columna en dispositivos móviles */
  }
}