body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #f4f4f4;
  }

  .panel {
    width: 150px;
    background-image: url('path-to-your-image.jpg');
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s;
  }

  .panel img{
    width: 150px;
  }

  .contenido {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    color: #000;
    padding: 20px;
    display: none;
    transform: rotateY(-180deg);
  }

  .panel.active {
    transform: rotateY(180deg);
  }

  footer {
    background-color: #221c23c5;
    width: 100%;
    color: white;
    font-weight: bold;
}